<!DOCTYPE html>
<html>
  <head>
    <title>Boop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/snmp/" method="POST">

      <label for="ip">IP Address</label>
      <input type="text" name="ip">

      <label for="oid">OID</label>
      <input type="text" name="oid">
      <br/>
      <input type="checkbox" name="default" id="default" checked>
      
      <label for="default">Default Settings</label>
      <br/>
      <input type="submit" value="Submit">
    </form>
    
  </body>
</html>
